#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-basis: 20vw;
  height: auto;
}

.content {
  background-color: rgba(0, 0, 0, 0.76);
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 10px;
  padding: 8px;
  border-radius: 10px;
  flex-basis: 20vw;
  transition: 500ms;
}

.content:hover {
  box-shadow: 2px 3px 3px 4px yellowgreen;

}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  text-align: center;
}
